* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: arial, sans-serif;
    color: #F4A5D6;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cce1ff;
}

h1 {
    padding: 1rem;
}

.info {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-weight: bolder;
}

.placeholder {
    width: 50%;
    height: 50vh;
    margin-top: 7rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 4px solid;
    background-color: #F9E7F3;
    visibility: hidden;
}

.container {
    width: 50%;
    height: 50vh;
    padding: 1rem;
    border-radius: 1rem;
    border: 4px solid #F4A5D6;
    background-color: #F9E7F3;
    position: absolute;
}

#catcher {
    height: 30px;
    width: 80px;
    position: absolute;
    bottom: 30px;
    left: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ff0000;
}